@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  background-color: rgb(11, 12, 11);
}
.text-primary {
  color: white;
}
.bg-primary {
  background-color: rgb(11, 12, 11);
}